/* dark mode*/
:root {
    --bg-color: #e8e8f6;
    --card-bg: #eeeeee;
    --text-color: #333333;
}

/* voor switch dark/light */
body.dark-mode {
    --bg-color: #190303;
    --card-bg: #252525;
    --text-color: #f0f0f0;
}

/* style website*/
body {
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* style cards*/
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
    gap: 25px;
    margin: 15px;
}

.kolom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    background: var(--card-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}

/* status text */
#status {
    padding: 10px;
    border-radius: 5px;
    background: #ddd;
}

#theme-btn {
    min-width: 140px;
    transition: transform 0.25s;
}

.connected { 
    color: white; 
    background-color: #2ecc71 !important; 
}

.disconnected { 
    color: white; 
    background-color: #e74c3c !important; 
    text-align: center;
}

/* button */
button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #1e8bd3;
    transform: scale(1.025);
}

button:active {
    background-color: #004f83;
    transform: scale(1);
}

input[type="number"] {
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    background-color: var(--card-bg);
    color: var(--text-color);
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 10px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="range"] {
    width: 100%;
    margin: 15px 0;
    cursor: pointer;
    accent-color: #3498db; 
}

#fanValLinks, #fanValRechts {
    font-weight: bold;
    color: #3498db;
}

